body {
    background: #04108A;
}

main, header {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    padding: 0.6% 0.6%;
    max-width: 1100px;
}

main {
    background: white;
}

header {
    background: #628ca4;
    padding: 0.6% 0.6%;
}

nav {
    position: absolute;
    top: 65%;
    right: 5%;
}

#navlogo {
    width: 30%;
    height: 30%;
    border-radius: 10px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.desc {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.desc li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border-color: #628ca4;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin: 1%;
}

.desc h2 {
    font-size: 28px;
    font-weight: bold;
}

.desc img {
    width: 30%;
    height: 30%;
    filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.5))
}