.bloco {
    background-image: url('imagens/wallpaper003.jpg');
    height: 200px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
}

#q1 {
    background-position: left top;
}

#q2 {
    background-position: left center;
}

#q3 {
    background-position: right bottom;
}

#q4 {
    background-position: center center;
}

#container {
    position: relative;
    height: 96vh;
    background-color: purple;
    padding: 10px;
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;
}

#conteudo {
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: yellow;
    background-image: url('imagens/target001.png');
    background-size: 100% 100%;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}